.element1{
    height: 250px;
    width: 200px;
    background-color: hsl(12 7.9% 35.3%);
    border-radius: 5%;
    opacity: 0.5;
    margin-bottom: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 1.5rem;

    color: black;
    
    position: absolute;
    transform-origin: left top;
    left: var(--x);
    top: var(--y);
    transform: rotate(-5deg);

    transition: transform 0.5s ease-out; 
}

.element1:hover {
    transform-origin: left top;
    transform: translate(-5px, -5px) rotate(-10deg);
    background-color:hsl(12 7.9% 35.3%);
    opacity: 1.0;
}

.element1 img {
    width:"100%";
    height:"100%";
    object-fit:fill;
}



.element2{
    height: 185px;
    width: 215px;
    background-color: hsl(12 7.9% 35.3%);
    border-radius: 5%;
    opacity: 0.5;
    margin-bottom: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 1.5rem;

    color: black;
    
    position: absolute;
    transform-origin: left top;
    left: var(--x);
    top: var(--y);
    transform: rotate(7deg);

    transition: transform 0.5s ease-out; 
}

.element2:hover {
    transform-origin: left top;
    transform: translate(5px, -20px) rotate(10deg);
    background-color:hsl(12 7.9% 35.3%);
    opacity: 1.0;
}

.element2 img {
    width:"100%";
    height:"100%";
    object-fit:fill;
}



.element3{
    height: 250px;
    width: 170px;
    background-color: hsl(12 7.9% 35.3%);
    border-radius: 5%;
    opacity: 0.5;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 1.5rem;

    color: black;
    
    position: absolute;
    transform-origin: right top;
    left: var(--x);
    top: var(--y);
    transform: rotate(-20deg);

    transition: transform 0.5s ease-out; 
}

.element3:hover {
    transform-origin: right top;
    transform: translate(5px, -4px) rotate(-27deg);
    background-color:hsl(12 7.9% 35.3%);
    opacity: 1.0;
}

.element4{
    height: 225px;
    width: 175px;
    background-color: hsl(12 7.9% 35.3%);
    border-radius: 5%;
    opacity: 0.5;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 1.5rem;

    color: black;
    
    position: absolute;
    transform-origin: left top;
    left: var(--x);
    top: var(--y);
    transform: rotate(0deg);

    transition: transform 0.5s ease-out; 
}

.element4:hover {
    transform-origin: left top;
    transform: translate(3px, 4px) rotate(-6deg);
    background-color:hsl(12 7.9% 35.3%);
    opacity: 1.0;
}


.element5{
    height: 175px;
    width: 255px;
    background-color: hsl(12 7.9% 35.3%);
    border-radius: 5%;
    opacity: 0.5;
    margin-bottom: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 1.5rem;

    color: black;
    
    position: absolute;
    transform-origin: right top;
    left: var(--x);
    top: var(--y);
    transform: rotate(-7deg);

    transition: transform 0.5s ease-out; 
}

.element5:hover {
    transform-origin: right top;
    transform: translate(7px,20px) rotate(-12deg);
    background-color:hsl(12 7.9% 35.3%);
    opacity: 1.0;
}

.element5 img {
    width:"100%";
    height:"100%";
    object-fit:fill;

}










.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(12 7.9% 35.3%);
    padding: 70px 30px;
    font-family:'Times New Roman', Times, serif;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
}

.header-middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Tangerine", cursive;
    font-style: italic;
}


@media screen and (max-width: 400px) {d
    .header {
        flex-direction: column;
        position: static;
    }

    .header-middle {
        position: static;
        transform: none;
    }
}





.aboutme {
    display: flex;
    align-items: center;
    width: 900px;
    height: 500px;
    border: 20px solid hsl(12 7.9% 35.3%); 
    margin: 50px auto 25px auto;
    background-color: hsl(12 7.9% 20%); 
    padding: 20px;
    gap: 20px; 
}

.aboutme img {
    max-width: 300px; 
    max-height: 600px;
    height: auto;
    margin-left: auto;
}

.aboutme p {
    color: white;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 400px) {
    .aboutme {
        width: 90%;
        flex-direction: column;
        height: auto;
    }
}