body {
    margin: 0;
    background-image: url('images/FrontBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.cards {
    position: relative;
    width: 80%;  
    margin: -100px auto 0 auto;
    transform: scale(1.5);
    margin-top: 75px;
}

@media screen and (max-width: 1200px) {
    .cards {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 800px) {
    .cards {
        transform: scale(0.6);
    }
}





.element1{
    height: 250px;
    width: 200px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 5%;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 1.5rem;

    color: hsl(0 0% 20%);
    
    position: absolute;
    transform-origin: left top;
    left: var(--x);
    top: var(--y);
    transform: rotate(-5deg);

    transition: transform 0.5s ease-out; 
    box-shadow: 0 4px 12px rgb(56, 55, 55);
}

.element1:hover {
    transform-origin: left top;
    transform: translate(-5px, -5px) rotate(-10deg);
    opacity: 1.0;
}

.element1 img {
    margin-top: 5%;
    max-width: 100%;
    max-height: 80%;
    object-fit: contain;
    opacity: 1;
}

.element1 .element-text {
    margin-top: 5px;
    font-size: 1rem;
    text-align: center;
    color: white;
    opacity: 1;
}



.element2{
    height: 185px;
    width: 215px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 5%;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 1.5rem;

    color: hsl(0 0% 20%);
    
    position: absolute;
    transform-origin: left top;
    left: var(--x);
    top: var(--y);
    transform: rotate(7deg);

    transition: transform 0.5s ease-out; 
    box-shadow: 0 4px 12px rgb(56, 55, 55);
}

.element2:hover {
    transform-origin: left top;
    transform: translate(5px, -20px) rotate(10deg);
    opacity: 1.0;
}

.element2 img {
    margin-top: 0%;
    max-width: 100%;
    max-height: 80%;
    object-fit: contain;
    opacity: 1;
}

.element2 .element-text {
    margin-top: 0px;
    font-size: 1rem;
    text-align: center;
    color: white;
    opacity: 1;
}



.element3{
    height: 250px;
    width: 170px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 5%;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 1.5rem;

    color: hsl(0 0% 20%);
    
    position: absolute;
    transform-origin: right top;
    left: var(--x);
    top: var(--y);
    transform: rotate(-20deg);

    transition: transform 0.5s ease-out; 
    box-shadow: 0 4px 12px rgb(56, 55, 55);
}

.element3:hover {
    transform-origin: right top;
    transform: translate(5px, -4px) rotate(-27deg);
    opacity: 1.0;
}

.element3 img {
    margin-top: 5%;
    max-width: 100%;
    max-height: 80%;
    object-fit: contain;
    opacity: 1;
}

.element3 .element-text {
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    color: white;
    opacity: 1;
}


.element4{
    height: 225px;
    width: 175px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 5%;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 1.5rem;

    color: hsl(0 0% 20%);
    
    position: absolute;
    transform-origin: left top;
    left: var(--x);
    top: var(--y);   
    transform: rotate(0deg);

    transition: transform 0.5s ease-out; 
    box-shadow: 0 4px 12px rgb(56, 55, 55);
}

.element4:hover {
    transform-origin: left top;
    transform: translate(3px, 4px) rotate(-6deg);
    opacity: 1.0;
}

.element4 img {
    margin-top: 5%;
    max-width: 100%;
    max-height: 80%;
    object-fit: contain;
    opacity: 1;
}

.element4 .element-text {
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    color: white;
    opacity: 1;
}


.element5{
    height: 175px;
    width: 255px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 5%;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 1.5rem;

    color:  rgb(56, 55, 55);
    
    position: absolute;
    transform-origin: right top;
    left: var(--x);
    top: var(--y);
    transform: rotate(-7deg);

    transition: transform 0.5s ease-out; 
    box-shadow: 0 4px 12px rgb(56, 55, 55);
}

.element5:hover {
    transform-origin: right top;
    transform: translate(5px,10px) rotate(-10deg);
    opacity: 1.0;
}

.element5 img {
    margin-top: 5%;
    max-width: 100%;
    max-height: 80%;
    object-fit: contain;
    opacity: 1;
}

.element5 .element-text {
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    color: white;
    opacity: 1;
}






.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.televisions {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px; 
    padding: 0 20px; 
    background-color: grey;
    padding: 80px 20px;
    opacity: 1;
}

.televisions img {
    width: 100%;
    height: auto;
    max-width: 3000px; 
    object-fit: contain;
    margin-left: -10px;
    margin-bottom: -5000px;
}





.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 70px 30px;
    font-family:'Times New Roman', Times, serif;
    border-bottom: none;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
}

.header-middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Tangerine", cursive;
    font-style: italic;
    color: white;
}


@media screen and (max-width: 400px) {
    .header {
        flex-direction: column;
        position: static;
    }

    .header-middle {
        position: static;
        transform: none;
    }
}





.hero {
    position: relative;
    width: 100%;
    margin: 0;
    border: none;
    background: transparent;
    padding: 0;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    border-radius: 0;
}

.hero p {
    color: white;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    text-align: center;
    max-width: 80%;
}

@media screen and (max-width: 1200px) {
    .hero {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .hero {
        width: 95%;
        height: auto;
        padding: 40px 30px;
    }
}

.aboutme-background {
    position: relative;
    background-image: url('images/FrontBackground2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding: 100px 0;
    z-index: 1;
    margin-top: 300px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutme-background::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -100vh;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: black;
    z-index: -1;
}

.aboutme-header {
    position: absolute;
    top: -80px;
    left: 10%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.aboutme-header h2 {
    color: white;
    font-size: 36px;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.aboutme {
    position: relative;
    width: 45%;  
    margin: 0 auto 25px auto; 
    border: none;
    background: transparent;
    padding: 60px 40px;
    min-height: 400px;
    display: flex;
    align-items: center;
    gap: 40px;
    box-shadow: none;
    border-radius: 8px;
    z-index: 10;
}
.aboutme {
    position: relative;
    width: 45%;  
    margin: 300px auto 25px auto; 
    border: none;
    background: transparent;
    padding: 60px 40px;
    min-height: 400px;
    display: flex;
    align-items: center;
    gap: 40px;
    box-shadow: none;
    border-radius: 8px;
    z-index: 10;
}

.aboutme title {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.aboutme img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    flex-shrink: 0;
    margin-left: var(--img-offset-x, 0px);
}

.aboutme p {
    color: white;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    flex: 1;
    margin-left: var(--text-offset-x, 0px);
}

@media screen and (max-width: 1200px) {
    .aboutme {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .aboutme {
        width: 95%;
        flex-direction: column;
        padding: 40px 30px;
    }
    
    .aboutme img {
        width: 250px;
        height: 250px;
    }
}